body {
    font-family: 'Work Sans', sans-serif;
}

.header {
    background-color: #F3C6BD;
    padding: 57px 0 58px;
}

.conteiner {
    max-width: 1140px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_img{
    margin-right: 15px;

}

.logo_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text {
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}



.header_link {
    font-size: 18px;
    line-height: 25px;
    Color: #2B292D;
    text-decoration: none;
}

.header_link:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #3040C4;
}



.header_li:not(:last-of-type){
    margin-right: 30px;
}


.header_button {
    height: 48px;
    width: 160px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: bold;  
}

.header_button:hover {
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #1a2ee7;
}

.section1 {
    background-color: #F4F5F7;    
    }

.conteiner_question {
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-top: 77px;
    margin-bottom: 8px;

}

.conteiner_text {
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    margin-bottom: 76px;
}

.question:not(:last-of-type){
    margin-right: 29px;
}

.section_logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0 105px;
} 



.header1_tittle {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    margin-top: 90px;  
    text-align: center;  
  
}


.header1_text {
    max-width: 554px;
    margin: 26px auto 97px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #172342;    
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  repeat(3, 1fr);
    gap: 40px;
    align-items:center;
    margin-bottom: 91px;
}

.item:nth-child(3), .item:nth-child(4) {
    grid-row: span 2;
}

.section6 {
    color: #ECECEC;
}
.section6_pretittle {
    font-size: 700px;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    padding: 108px 0 24px;
}

.section6_tittle {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;     
    text-align: center;
    letter-spacing: -0.5px;  
     color: #2B292D;
    
}

.section6_text { 
        
    max-width: 554px;
    margin: 26px auto 34px;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    
}

.header_button1 {
    height: 48px;
    width: 160px;
    border: 1px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    font-weight: bold; 
    margin-bottom: 111px;
    border-color:  #1a2ee7; ;
    margin-left: 10px;

} 
.header_button1:hover {
    cursor: pointer;
    transition: 1s;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #263cfa;    
}

.flex_button {
    display: flex;
    justify-content: center;    
}
.section6_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
        gap: 30px;
    align-items:center;
    margin-bottom: 110px;

}